# .npmrc - Settings for npm

registry=https://registry.npmjs.org/

# Disable preinstall / postinstall scripts for security
# NOTE: These will need to be whitelisted in each project if necessary
ignore-scripts=true
